* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	flex-wrap: wrap;
	box-sizing: border-box;
}

body {
	padding: 0 0;
	margin: 0 0;
	font-family: "Open Sans", sans-serif;
	background-color: rgb(87, 84, 84);
	flex-wrap: wrap;
}

.header {
	background: url("images/top1.jpg") no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-size: cover;
	min-height: 550px;
}

.logo {
	float: left;
	width: 300px;
	padding-left: 200px;
}

.navbar {
	flex-wrap: wrap;
	position: fixed;
	display: flex;
	width: 84%;
	margin: auto;
	padding: 20px 0;
	align-items: center;
	justify-content: space-between;
}

nav ul li {
	flex-wrap: wrap;
	display: inline-block;
	list-style: none;
}

nav ul li a {
	flex-wrap: wrap;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

nav ul li a:hover {
	color: rgb(135, 116, 13);
}

ul {
	flex-wrap: wrap;
	padding-right: 20px;
	word-spacing: 50px;
}

.detel {
	margin-left: 8%;
	margin-top: 5%;
}

span {
	font-family: fantasy;
}

.detel p {
	color: #555;
	line-height: 22px;
}

.content h2 {
	font-size: 100px;
	font-family: fantasy;
	font-stretch: 40px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

.content {
	position: absolute;
	top: 30%;
	left: 8%;
}

h1 {
	color: rgb(72, 67, 67);
	letter-spacing: 2px;
	font-size: 20px;
}

h2 {
	font-size: 100px;
	font-family: fantasy;
	font-stretch: 40px;
	line-height: 100%;
}

h3 {
	color: rgb(116, 3, 3);
	font-size: 25px;
	margin-bottom: 100px;
	line-height: 1%;
}

p {
	text-align: center;
}

h5 {
	font-size: 2.5em;
	font-family: "Arvo", serif;
	text-transform: uppercase;
	font-weight: 400px;
	color: #2a404e;
	text-align: center;
}

.uniform {
	float: left;
	width: 100x;
	height: 200px;
	border: 3px solid gold;
	border-radius: 50%;
	margin-right: 20px;
}

.about-text {
	text-align: justify;
	font-family: sans-serif;
	padding: 10px;
	color: rgb(199, 169, 1);
}

.about-container {
	margin: 35px auto;
	width: 50%;
	padding: 50px;
}

.uniform text {
	padding-bottom: 10%;
}

.about-header h4 {
	font-size: 2.5em;
	font-family: "Arvo", serif;
	text-transform: uppercase;
	font-weight: 400px;
	color: #ffffff;
	text-align: center;
}

.skills {
	justify-content: space-around;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 35px auto;
	width: 50%;
}

.single-skills img {
	flex-wrap: wrap;
	width: 80px;
	height: 80px;
}

.work-text {
	text-align: center;
}

.work-header h5 {
	font-size: 2.5em;
	font-family: "Arvo", serif;
	text-transform: uppercase;
	font-weight: 400px;
	color: #ffffff;
	text-align: center;
}

.work-container {
	flex-wrap: wrap;
	align-items: center;
	margin: 35px auto;
	width: 80%;
	padding: 50px;
}

.certifications-header h5 {
	font-size: 2.5em;
	font-family: "Arvo", serif;
	text-transform: uppercase;
	font-weight: 400px;
	color: #ffffff;
	text-align: center;
}

.certifications-container {
	margin: 35px auto;
	width: 80%;
	padding: 50px;
}

.te {
	flex-wrap: wrap;
	text-align: left;
	padding-left: 265px;
	color: rgb(208, 178, 8);
	font-size: 25px;
}

.wrapper h6 {
	text-align: center;
	font-size: 30px;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.img-area {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.single-img {
	align-items: center;
	padding: 0 20px 20px;
}

img:hover {
	opacity: 0.5;
	transition: 0.9s;
}

.main-container {
	flex-wrap: wrap;
	align-items: center;
}

.img-area img {
	align-items: center;
	padding: 10px;
}

.img-areaw img {
	align-items: center;
	width: 400px;
	height: 500px;
	padding: 20px;
}

.img-areas img {
	align-items: center;
	width: 400px;
	height: 300px;
	padding: 20px;
}